@charset "utf-8";
body{
    margin:0;

}
p span{
    font-weight: bold;
    padding: 10px;
    background-color: #F36;
    display: inline-block;
}

#div2{

    background-color:#F36;
    width: 200px;
    height: 200px; 
    position: absolute;
    z-index: 1;
    top:80px;
    left: 80px;

    opacity: 20%;
}