@charset "utf-8";
body{
    margin:30px;
    color: #F00;
    font-size: 30px;
}

#banner{
    width: 100%;
    height: 600px;
    background-color: #09c;
}

#column1{
    margin: 0px;
    padding: 0px;
    width: 33%;
    background-color: #cf3;
    float: left;
}

#column2{
    margin: 0px;
    padding: 0px;
    width: 33%;
    background-color: #c9c;
    float: left;
}

#column3{
    margin: 0px;
    padding: 0px;
    width: 33%;
    background-color: #0cf;
    float: left;
}

.clear{
    clear: both;
}

@media screen and (max-width:500px){
     #banner{height: 300px;}
    #column1, #column2,#column3{
        width: 100%;
        float: none;
    }
}

